@import "tailwindcss";

body {
  font-family: 'ClashGrotesk', sans-serif;
}

/* Hide scrollbar while allowing scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}